---
import Layout from '../layouts/Default.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import PortfolioSummaryCard from '../components/portfolio/PortfolioSummaryCard.astro';
import { Button, Card } from '@eliancodes/brutal-ui';
---

<Layout title="Portfolio" pageTitle="Jo Colomban | Portfolio" description="">
  <main class="bg-pink p-6">
    <MobileSocials />
    <div class="container mx-auto">
        <div class="row mt-8">
            <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mb-6">
              <Card>
                <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
                  Who am I?
                </h2>
                <div class='poppins '>
                  <div class='flex flex-col md:flex-row items-center md:space-x-4 space-y-4 md:space-y-0 text-justify'>
                    <div class="w-full md:w-1/2">
                      <img src="/assets/profilePic.jpg" alt="profile pic" 
                        class='w-full h-auto rounded object-cover'>
                    </div>
                    <div class="w-full md:w-1/2 text-center md:text-left">
                      <b>Hi, I'm Jo,</b> and I want to make videogames for a living. :)<br>
                      I'm a <b>gameplay programmer</b>, with a focus on <b>3C</b> (Camera, Character, Controls) and <b>systems</b>. I come from a software engineering background and that makes always mindful of keeping my code clean and efficient!
                      I thrive in small, collaborative teams, where team-work takes the forefront of every working day!
                      <br> <br>
                      Check out a few of my <b>projects</b> in the cards on this page, and <a href='mailto:gcolomban@gmail.com'><b>send me an email</b></a> if you wanna talk about them :)
                      <br>
                      <br>
                      <Button target={'_self'} href='https://drive.google.com/file/d/19KBPhciU34hE343UjjG2bwZxGBkXgQaJ/view?usp=sharing'>
                        Download my resume! &rarr;
                      </Button>
                    </div>
                    
  
                  </div>
                  
                </div>
              </Card>
              <PortfolioSummaryCard
                title="Specialization - UE5 Fuzzy Brain-driven AI"
                imgAlt=""
                imgSrc="/assets/portfolio-ai/sightDemo2.gif"
                description="An AI system for a stealth game that can remember more than one thing, and act on those memories according to what's most important at the moment."
                blogRef="portfolio-ai"
              />
            </ul>
    </div>
    <div class="row">
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mb-6">
        <PortfolioSummaryCard
          title="Specialization - UE5 Journey-inspired 3rd person camera"
          imgAlt=""
          imgSrc="/assets/portfolio-camera/cameraCover.gif"
          description="A smooth, cinematic 3rd person camera inspired by Journey."
          blogRef="portfolio-camera"
        />
        <PortfolioSummaryCard
          title="Specialization - UE5 1st person fishing system"
          imgAlt=""
          imgSrc="/assets/portfolio-fishing/fishingCover.gif"
          description="Customizable first person fishing with a QTE system."
          blogRef="portfolio-fishing"
        />
      </ul>
</div>
      <div class="row">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mb-6">
          <PortfolioSummaryCard
            title="Grim - UE5 survival horror"
            imgAlt=""
            imgSrc="/assets/grimCover.png"
            description="Grim is a first person survival horror game, heavily inspired by **Amnesia The Bunker**, developed during the third group project in my Game Programming education at FutureGames Malmö."
            blogRef="gp3"
          />
          <PortfolioSummaryCard
            title="Menagerie - UE5 stealth game"
            imgAlt=""
            imgSrc="/assets/gp4Cover.png"
            description="A stealth game focused on AI enemies that can remember multiple things at a time, developed during the fourth group project in my Game Programming education at FutureGames Malmö."
            blogRef="gp4"
          />
        </ul>
      </div>
    </div>
    
  </main>
</Layout>
