---
import Layout from '../layouts/Default.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import PortfolioSummaryCard from '../components/portfolio/PortfolioSummaryCard.astro';

---

<Layout title='Portfolio' pageTitle='Jo Colomban | Porfolio' description=''>
  <main class='bg-pink p-6'>
      <MobileSocials />
      <div class="container mx-auto">
          <div class='row position-relative top-0 lg:start-100 translate-middle mb-10'>
              <ul class='grid md:grid-cols-2'>
                  <PortfolioSummaryCard title='Specialization' , imgAlt='' , imgSrc='/assets/grimCover.png' , description='game', blogRef='firstblogpost'>

                  </PortfolioSummaryCard>
              </ul>
          </div>
          <div class='row'>
              <ul class='grid md:grid-cols-2 lg:grid-cols-2 sm:grid-rows gap-8 mb-6'>
                  <PortfolioSummaryCard title='Grim - UE5 survival horror' , imgAlt='' , imgSrc='/assets/grimCover.png' , description='game', blogRef='grim'>

                  </PortfolioSummaryCard>
                  
                  <PortfolioSummaryCard title='Down the Hill - Unity on Android soapbox racing' , imgAlt='' , imgSrc='/assets/gp2Cover.png'' , description='game', blogRef='test'>

                  </PortfolioSummaryCard>
              </ul>
          </div>
          <div class='row'>
            <ul class='grid md:grid-cols-2 lg:grid-cols-2 sm:grid-rows gap-8 mb-6'>
                <PortfolioSummaryCard title='Amplifish - First Person Puncher' , imgAlt='' , imgSrc='/assets/gp1Cover.png'.png' , description='game', blogRef='grim'>

                </PortfolioSummaryCard>

                <PortfolioSummaryCard title='Lander' , imgAlt='' , imgSrc='/assets/landerCover.png'' , description='game', blogRef='test'>

                </PortfolioSummaryCard>
            </ul>
        </div>
  </main>
</Layout>
