---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => 
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    sortedPosts.map((post) => (
      <li>
        <BlogSummaryCard post={post} />
      </li>
    ))
  }
</ul>
